<mat-form-field class="center" appearance="fill" >
  <mat-label>Tags</mat-label>
  <mat-chip-grid #chipGrid aria-label="Enter Tags">
    <mat-chip-row *ngFor="let tag of tags"
                  (removed)="removeWithConformation(tag)"
                  [editable]="true"
                  (edited)="edit(tag, $event)"
                  [aria-description]="'press enter to edit ' + tag.name">
      {{tag.name}}
      <button matChipRemove [attr.aria-label]="'remove ' + tag.name">
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-chip-row>
    <input placeholder="New tag..."
           [matChipInputFor]="chipGrid"
           [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
           (matChipInputTokenEnd)="add($event)"/>
  </mat-chip-grid>
</mat-form-field>
