<div class="row align-items-center justify-content-center" style="padding-top: 20px">
  <mat-card class="information-card mat-elevation-z5">
    <mat-card-header>
      <mat-card-title>
      <h3>Income:</h3>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <h1>{{incomeSum | number}}</h1>
    </mat-card-content>
  </mat-card>
  <mat-card class="information-card mat-elevation-z5">
    <mat-card-header>
      <mat-card-title>
        <h3>Expenses:</h3>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <h1>{{expenseSum | number}}</h1>
    </mat-card-content>
  </mat-card>
  <mat-card class="information-card mat-elevation-z5">
    <mat-card-header>
      <mat-card-title>
        <h3>Last Month Profit:</h3>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <h1></h1>
    </mat-card-content>
  </mat-card>
  <mat-card class="information-card mat-elevation-z5">
    <mat-card-header>
      <mat-card-title>
        <h3>This Year Profit:</h3>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <h1 >{{lastYearProfit | number}}</h1>
    </mat-card-content>
  </mat-card>

</div>
<div class="row row-cols-2 align-items-center justify-content-center">
    <mat-card class="mat-elevation-z5 chart-cart">
      <mat-card-header>
        <mat-card-title>
          <h3>Actual month Incomes / Expenses:</h3>

        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="chart-container">
          <canvas  id="MyChart" >{{ chartMonthlyIncomeExpense }}</canvas>
        </div>
      </mat-card-content>
    </mat-card>


  <mat-card class="mat-elevation-z5 chart-cart">
    <mat-card-header>
      <mat-card-title>
        <h3>Monthly Budget</h3>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="chart-container">
        <canvas  id="MyChart1" >{{ this.chartMonth }}</canvas>
      </div>


    </mat-card-content>
  </mat-card>
</div>
